
<div class="slide-container">
    <div class="slides">
        <div class="slide-img">
            {{#each slideshows}}
              <div class="caption">
                  <img class="slide" src={{imgurl}}></img>
                  <h3>{{title}}</h3> 
              </div> 
            {{else}}
                    <h2>Sorry, nothing to display.</h2>
            {{/each}} 
        </div>
    </div>
</div>