{{!-- The content would be rendered to index.hbs --}}
<header>
    
    <h1 id="motto">Katrine in<span><img id="logo" src="image/logo_white.png"></span>Wonderland</h1>
    <nav class="navbar">
        <ul class="lead">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
        </ul>
    </nav>
</header>