<main>
    <h1 id="title">{{ title }}</h1>
    <p class="lead m-3">
        <i class="large">"We're all mad here."</i><br>
        The Cheshire Cat says this to Alice in one of the most concise descriptions of the strange world down the rabbit
        hole. Unlike the world Alice left behind, "mad" isn't necessarily a bad thing. Here, and as you're reading, you
        should embrace a side of you that is quirky and unpredictable, and maybe when you get back to reality, you'll
        want to take a little of that with you.
    </p>
</main>